In [11]:
print(123)

123

In [12]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.normal(85,3,(6,3)))
df

           0          1          2
0  85.417896  85.108177  86.113481
1  85.617341  85.475133  82.764917
2  83.379519  90.209108  84.215079
3  85.400014  85.004109  83.825727
4  87.599073  84.239357  81.291581
5  80.301575  87.926568  79.457275