In [15]:
import numpy as np
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")

## apply函数

In [10]:
ary = np.array(['80公斤','83公斤','78公斤','74公斤','184公斤'])
s = pd.Series(ary)
def func(x):
    return x[:-2]
s.apply(func)

0     80
1     83
2     78
3     74
4    184
dtype: object

In [16]:
ratings = pd.read_json('../../data/ratings.json')
ratings
def func(x):
    x[x.isna()] = x.mean()
    return x
ratings.apply(func)

,John Carson,Michelle Peterson,William Reynolds,Jillian Hobart,Melissa Jones,Alex Roberts,Michael Henry
Anger Management,3.0,1.5,3.25,3.0,2,3.7,3.166667
Fracture,3.5,5.0,3.50,4.0,3,5.0,4.000000
Inception,2.5,3.0,2.50,3.5,3,3.0,3.166667
Jerry Maguire,3.0,3.0,4.00,4.5,3,3.0,3.166667
Pulp Fiction,3.5,3.5,3.00,3.5,4,4.0,4.500000
Serendipity,2.5,3.5,3.25,2.5,2,3.5,1.000000

In [20]:
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Minsu','Jack','Lee','David','Gasper','Betina','Andres']),
 'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
 'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}
unsorted_df = pd.DataFrame(d)
unsorted_df
# 按照行标进行排序
sorted_df=unsorted_df.sort_index()
print (sorted_df)
print('*'*50)
# 控制排序顺序
sorted_df = unsorted_df.sort_index(ascending=False)
print (sorted_df)

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Minsu   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65
**************************************************
      Name  Age  Rating
11  Andres   46    3.65
10  Betina   51    4.10
9   Gasper   30    4.80
8    David   40    2.98
7      Lee   34    3.78
6     Jack   23    3.80
5    Minsu   29    4.60
4    Steve   30    3.20
3      Vin   23    2.56
2    Ricky   25    3.98
1    James   26    3.24
0      Tom   25    4.23

In [21]:
# 按照列标签进行排序
sorted_df=unsorted_df.sort_index(axis=1)
print (sorted_df)

    Age    Name  Rating
0    25     Tom    4.23
1    26   James    3.24
2    25   Ricky    3.98
3    23     Vin    2.56
4    30   Steve    3.20
5    29   Minsu    4.60
6    23    Jack    3.80
7    34     Lee    3.78
8    40   David    2.98
9    30  Gasper    4.80
10   51  Betina    4.10
11   46  Andres    3.65

In [22]:
sorted_df = unsorted_df.sort_values(by='Age')
print (sorted_df)
# 先按Age进行升序排序，然后按Rating降序排序
sorted_df = unsorted_df.sort_values(by=['Age', 'Rating'], ascending=[True, False])
print (sorted_df)

      Name  Age  Rating
3      Vin   23    2.56
6     Jack   23    3.80
0      Tom   25    4.23
2    Ricky   25    3.98
1    James   26    3.24
5    Minsu   29    4.60
4    Steve   30    3.20
9   Gasper   30    4.80
7      Lee   34    3.78
8    David   40    2.98
11  Andres   46    3.65
10  Betina   51    4.10
      Name  Age  Rating
6     Jack   23    3.80
3      Vin   23    2.56
0      Tom   25    4.23
2    Ricky   25    3.98
1    James   26    3.24
5    Minsu   29    4.60
9   Gasper   30    4.80
4    Steve   30    3.20
7      Lee   34    3.78
8    David   40    2.98
11  Andres   46    3.65
10  Betina   51    4.10